:root{
    --bg-color : #fff;
    --text-primary: #000;
    --btn-text : #ffffff;
    --btn-bg : #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

[data_theme ='dark']{
    --bg-color : #000000;
    --text-primary: #ffffff;
    --btn-text : #000000;
    --btn-bg : #ffffff;
}

.light_dark_mode{
    background-color: var(--bg-color);
    color: var(--text-primary);
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    transition: all 0.5s;
}

.light_dark_mode .container_theme{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

button{
    background-color: var(--btn-bg);
    color: var(--btn-text);
    border: 2px solid var(--btn-bg);
    border-radius: 8px;
    padding: 12px;
    font-weight: 600;
    cursor: pointer;
}

p{
    color: var(--text-primary);
    font-size: 40px;
    margin: 0px;
}