
.active{
    color:#ffea00;
    cursor: pointer;

}
.active:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    color: orange;
} 


.inactive{
    color: rgb(220, 214, 214);
}