.tree_view {
  min-height: 100vh;
  width: 350px;
  background-color: aquamarine;
}

.menu_item {
    display: flex;
    align-items: center;
  gap: 20px;
  cursor: pointer;
}

.menu_list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
 
}
