/* *{
    border: 1px dashed rgba(135, 134, 134, 0.511);
} */

.tic_tac_container::after{
    /* clear: both;
   content: '';
    display: table; */
    
   /* display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 100px;
    border: 1px solid;
    height: 300px; */

 }
 .tic_tac_container{
    /* border: 1px solid; */
 }

/* .square{
    border: 1px solid red;
    float: left;
    height: 100px;
    width: 100px;
    padding: 0px;
    font-size: 40px;
    text-align: center;
    margin-right: -1px;
    margin-top: -4px;

} */

.row{
 /* width: 300px;   */
 /* border: 1px solid; */
     /* upper ke css likh dho but ye nahi likha to matric nahi banega  hight fix karni padegi
 */
}

.wrapper_tic_box{
 display: flex;
 flex-direction: column;
 align-items: center;
}


.tic_tac_container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    /* grid-template-rows: repeat(3, 100px); */
    
} 

.square {
    border: 1px solid red;
    height: 100px;
    font-size: 40px;
    margin-left: -1px;
    margin-top: -1px;
}
 

 /* No float or negative margin needed!  */
