.load_more_data_container {    
 display: flex;
 flex-direction: column;
 gap: 10px;
  align-items: center;
}

.product_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap : 10px;
}

.product{
    padding : 20px;
    border : 1px solid black; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product img{
    width: 150px;
    height: auto;
}