.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450px;
    border: 10px solid blue;
}

.current_image{
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;   
} 

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #5555);
}

.arrow_left{
    left: 1rem;
}

.arrow_right{
    right: 1rem;
}

.circle_indicators{
    position: absolute;
    bottom: 1rem;
    display: flex;
}


.current_indicator{
    background-color: aliceblue;
    gap: 5px;
    width: 15px;
    height: 15px; 
    border-radius: 50%;
    margin:  0 0 0 0.2rem;
    outline: none;
    border : none ;
}

.hide_current_image{
    display: none;
}

.inactive_indicator{
    background-color: gray;
}