.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450 px;
}

.current_image{
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;   
} 

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #5555);
}

.arrow_left{
    left: 1rem;
}

.arrow_right{
    right: 1rem;
}

.current_indicator{
    position: absolute;
    
}
