
.modal{
 position: fixed;
 width: 100%;
 height: 100%;
 z-index: 1;
 top: 0;
 left: 0;
 text-align: center;
 background-color: rgba(145, 82, 0, 0.251);

}

.modal_content{
    position: relative;
    padding: 0;
    margin: auto;
    width: 50%;
    top: 30%;
    border: 1px solid red;
    background-color: azure;
    border-radius: 5px;
     animation-name: animateModal;
     animation-duration: 0.5s;
}
.header{
    /* border: 7px solid; */
    padding: 4px 16px;
    background-color: rgba(37, 244, 68, 0.776);
    color: white;
     
}
.close_modal_icon{
    cursor: pointer;
    float:right;
    border: 1px solid;
    /* font-weight: bold; */
    font-size: 20px;
}
.body{
    padding: 2px 16px;
    height: 200px;
}

.footer{
    color: #fff;
    padding: 2px 16px;
    background-color: #5cb85c;
}

@keyframes animateModal {
    from{
        top:-200px;
        opacity: 0;
    }
    to{
        bottom:0 ;
        /* top: 0; */
        opacity: 1;
    }
}