
.top_container{
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
    background-color: rgb(206, 132, 42);
    text-align: center;
    color: aliceblue;
}

.scroll_progress_tracking_container{
  width: 100%;
  height: 10px;
  background-color: rgb(165, 97, 190);
}

.current_progress_bar{
    height: 10px;
    width: 0%;
    background: rgb(0, 255, 81);
}